* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ecece7;
  font-size: 1em;
}
.sidebar {
  width: 20%;
  height: 100vh;
  background-color: rgba(82, 120, 23, 0.876);
  position: relative;
  padding: 20px;
  border: 1px soldid green;
  float: left;
  align-items: center;
  justify-content: center;
}
.foto {
  image-orientation: flip;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #d40606;
  box-shadow: 0px 0px 2rem rgba(176, 9, 9, 0);
  overflow: hidden;
  position: absolute;
}
.foto img {
  position: relative;
  width: 200px;
}
.menu {
  margin-top: 250px;
  margin-left: 20px;
  align-items: center;
  list-style: none;
}
.menu a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.sobrenome {
  color: rgba(82, 120, 23, 0.876);
}
h1 {
  margin-top: 100px;
  margin-right: 100px;
  font-size: 3rem;
  font-weight: 700;
}
main {
  max-width: 80%;
  padding: 40px 40px 20px 40px;
  position: relative;
  display: inline-block;
  
}
h3 a {
  color: rgba(82, 120, 23, 0.876);
  text-decoration: none;
}
